<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Ajax Test</title>

    <script src="../static/jquery/jquery-1.7.2.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        function ajaxSubmit(){
            var songName = $("#songName").val();
            var singer = $("#singer").val();

            $.ajax({
                url: '/song/ajaxTest',
                // url: [[@{/song/ajaxTest}]],//两种方式都可以
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({songName : songName,singer : singer}),
                async: true,
                success: function(data){
                    if(data != null){
                        alert('flag : ' + data.flag + " , hintMessage : " + data.hintMessage);
                    }
                }
            });
        }

    </script>
   
</head>
<body>
    <input type="text" name="songName" id="songName">
    <input type="text" name="singer" id="singer">
    <button onclick="ajaxSubmit()">提交</button>
</body>
</html>